html {
    font-size: 1rem;
    font-family: "Rubik", "Open Sans", sans-serif;
}

body {
    min-height: 100%;
    overflow: auto;

    display: flex;
}

a {
    text-decoration: none;
}

:root {
    --left-page-width: calc(100vw / 2.5);
}

/* ========================================================================== */
/* Selectors for the left side of the page start here.
/* ========================================================================== */

.left-container {
    width: var(--left-page-width);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

img[src$="bg.jpg"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Selectors for the logo start here. */

.content-container {
    width: 100%;
    height: 100%;
    
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-banner {
    width: 100%;
    height: 175px;
    
    background-color: white;
    opacity: 0.7;

    position: absolute;
    top: max(calc(100vh / 6), 75px);
}

.logo {
    width: 100%;
    height: 130px;

    position: absolute;
    top: max(calc(100vh / 6 + 20px), 95px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img[src$="logo.png"] {
    width: 100px;
    height: auto;
}

h1 {
    text-align: center;
    white-space: nowrap;
    
    color: #5E2802;

    margin: 0;
}

/* Selectors for the footer start here. */

footer {
    position: absolute;
    top: max(calc(100% - 55px), 600px);
}

footer a {
    color: white;
    opacity: 0.7;
}

/* ========================================================================== */
/* Selectors for the right side of the page start here.
/* ========================================================================== */

.right-container {
    width: calc(100vw - var(--left-page-width));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form {
    width: 500px;
    min-height: 600px;

    border-radius: 10px;
    box-shadow: 4px 4px 10px #64646447, -4px 5px 10px #64646447;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Selectors for the title start here. */

.title-container {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container p {
    width: 75%;

    color: #646464;
}

/* Selectors for the inputs start here. */

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

[class*="row-"] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input,
input:valid {
    width: 200px;

    border: 1px solid #646464;
    border-radius: 3px;
}

input:focus,
input:active {
    outline: none;
    border: 1px solid #67ac89;
}

input ~ p {
    font-size: 0.9rem;

    color: #646464;

    margin: 0;
}

/* Selectors for the button start here. */

button {
    color: white;

    padding: 10px 15px;
    background-color: #8A5837;

    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #5e280233, -5px 5px 10px #5e280233;

    margin-top: 15px;

    cursor: pointer;
}

button:hover {
    background-color: #774c2f;
}

button:focus {
    outline-offset: 4px;
    outline: 2px solid #8A5837;
    box-shadow: 1px 1px 5px #5e280233, -1px 1px 5px #5e280233;
}

/* Selectors for the log in option start here. */

.log-in-container a {
    color: #b37348;
}

/* ========================================================================== */
/* Media queries start here.
/* ========================================================================== */

@media (max-width: 900px) {
    body {
        flex-wrap: wrap;
    }
    
    /* Selectors for the left side of the page start here. */

    .left-container {
        width: 100vw;
        height: 300px;
    }

    .logo-banner {
        top: 62.5px;
    }

    .logo {
        top: 85px;
    }

    footer {
        top: 245px;
    }

    /* Selectors for the right side of the page start here. */

    .right-container {
        width: 100vw;
        height: auto;

        margin: 50px 0;
    }
}