html {
    font-size: 1rem;
    font-family: "Rubik", "Open Sans", sans-serif;
}

body {
    height: 100vh;
    overflow: auto;
    
    display: flex;
}

:root {
    --left-page-width: calc(100vw / 2.5);
}

/* ========================================================================== */
/* Selectors for the left side of the page start here.
/* ========================================================================== */

.left-container {
    width: var(--left-page-width);
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

img[src$="bg.jpg"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    width: 100%;
    height: 100%;
    
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-banner {
    width: 100%;
    height: 175px;
    
    background-color: white;
    opacity: 0.7;

    position: absolute;
    top: calc(100vh / 6);
}

.logo {
    width: 100%;
    height: 130px;

    position: absolute;
    top: calc(100vh / 6 + 20px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img[src$="logo.png"] {
    width: 100px;
    height: auto;
}

h1 {
    text-align: center;
    white-space: nowrap;
    
    color: #5E2802;

    margin: 0;
}

footer {
    position: absolute;
    top: calc(100vh - 55px);
}

footer a {
    color: white;
    opacity: 0.7;

    text-decoration: none;
}

/* ========================================================================== */
/* Selectors for the right side of the page start here.
/* ========================================================================== */

.right-container {
    width: calc(100vw - var(--left-page-width));
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form {
    width: 465px;
    height: 565px;

    border-radius: 10px;
    box-shadow: 4px 4px 10px #5e280233, -4px 5px 10px #5e280233;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title-container {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 50px;
    height: 2px;
    
    background-color: black;
}

.title-container p {
    width: 80%;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

[class*="row-"] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    width: 165px;

    border: 1px solid black;
    border-radius: 3px;
}

input ~ p {
    font-size: 0.8rem;

    margin: 0;
}

button {
    color: white;

    padding: 10px 15px;
    background-color: #8A5837;

    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #5e280233, -5px 5px 10px #5e280233;

    margin-top: 15px;

    cursor: pointer;
}

button:hover {
    background-color: #774c2f;
}

.log-in-container a {
    color: #5E2802;
}

/* ========================================================================== */
/* Media queries start here.
/* ========================================================================== */

@media (max-width: 900px) {
    body {
        flex-wrap: wrap;
    }
    
    /* Selectors for the left side of the page start here. */

    .left-container {
        width: 100vw;
        height: 300px;
    }

    .logo-banner {
        top: 62.5px;
    }

    .logo {
        top: 85px;
    }

    footer {
        top: 245px;
    }

    /* Selectors for the right side of the page start here. */

    .right-container {
        width: 100vw;
    }
}